/* about cover page****************** */

body {
    background-image:url("../images/top_photos/drumming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}




.contact_page_container {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.contact_page_container p {
    font-size: xx-large;
}

.contact_container1 {
    margin-top: 5vh;
    height: 50vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.contact_container2 {
    margin-bottom: 0vh;
}



/* ***************** */
.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ***************** */

.text_contact {
    display:none;
}

.section_last_page_contact {
    display:flex;
    align-items: flex-end;
    margin-top: -18vh;
}

@media(min-width:576px){
    .section_last_page_contact {
        display:flex;
        align-items: flex-end;
        margin-top: -12vh;
    }
}

@media(min-width:576px){
    .contact_flex {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .text_contact {
        display:block;
    }
}

.containter3{
        margin-top: 0;
}

.contact_container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        position:relative;
}

.contact_box {
    box-shadow: 10px 10px 5px black;
    /* height: 60vh; */
    width: 100%;
    position: relative;
    border: solid  20px transparent;
    padding: 15px;
    border-image:url("../images/border2.png");
    border-image-width: 20px;
    border-image-slice: 50;
    background-color: rgb(117, 120, 160);
    z-index: 0;
}

.contact_flex {
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:576px){
    .contact_flex {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .text_contact {
        display:block;
    }
}

.contact_image img {
    width: 7em;
}

.contact_row2 {
    margin-top: 2vh;
    text-align: center;
}

.contact_row {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: -8.5vh;
    width:100%;
    z-index: 1;
}

@media (min-width:576px) {
    .contact_row2 {
        margin-top: 2vh;
        text-align: center;
    }
    .contact_row {
        display:flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        bottom: -5.5vh;
        width:100%;
        z-index: 1;
    }
}

@media (min-width:992px) {
    .contact_row2 {
        margin-top: 2vh;
        text-align: center;
    }
    .contact_row {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        bottom: -7vh;
        width:100%;
        z-index: 1;
    }
}

.cover_contact {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

@media (min-width:576px) {
    .cover_contact {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
    }
}

@media (min-width:992px) {
    .cover_contact {
        display:flex;
        flex-direction: column;
        text-align: none;
        /* align-items: flex-end; */
        /* justify-content: flex-end; */
        text-align: center;
    }
}


.row_flex {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.contact_flex a, {
    cursor:pointer;
    color: rgba(252,180,20,1.0)!important;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.contact_flex a:hover {
    color: rgba(252,180,20,1.0)!important;
}

.cover_contact h3 {
    font-weight: 900;
    font-style: normal;
    font-size:  medium;
    color:#FFF;
}

.cover_contact p {
    font-weight: 400;
    color:#FFF;
    font-size: xx-small;
}

.cover_contact .nav-link{
    padding-top: 0;
    padding-bottom: 0;
}

.top1 {
    display:block;
}

.top2 {
    display:none
}


.about_text2 {
    border-left:solid white 5px;
    padding-left: 5rem;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 700;
    font-size: 41px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main2 {
display:flex;
position: relative;
height:20vh;
margin-bottom: 9vh;
}

@media(min-width:576px){
    .text_contact {
        display:block;
    }
    .contact_page_container {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        /* width: 100vw; */
        height: 75vh;
        opacity: 0.9;
        /* background: rgba(14,25,63,0.28); */
        display: flex;
        flex-direction: column;
        /* align-items: cent; */
        justify-content: space-between;
    }
    .cover_contact h3 {
        font-weight: 900;
        font-style: normal;
        font-size:  large;
        color:#FFF;
    }
    .cover_contact p {
        font-weight: 400;
        color:#FFF;
        font-style: normal;
        font-size: medium;
    }
    .top1 {
        display:block;
    }
    .top2 {
        display:none
    }
}

@media(min-width:992px){
    .contact_page_container p{
        font-size: unset;
    }
    .contact_page_container {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        /* width: 100vw; */
        height: 140vh;
        opacity: 0.9;
        /* background: rgba(14,25,63,0.28); */
        display: flex;
        flex-direction: column;
        /* align-items: cent; */
        justify-content: space-between;
    }
    .cover_contact h3 {
        font-weight: 900;
        font-style: normal;
        font-size:  medium;
        color:#FFF;
    }
    .cover_contact p {
        font-weight: 400;
        color:#FFF;
        font-style: normal;
        font-size: medium;
    }
    .top1 {
        display:none;
    }

    .top2 {
        display:block
    }
}

.btn-danger {
    background-color: #7477a0;
    border-color: #7477a0;
}

.section-contact-form {
    margin-bottom:10vh;
}

@media(min-width:992px){
.section-contact-form {
        margin-bottom:0vh;
}
