/* about cover page****************** */

.contact_page_container {
    background-image:url("../images/top_photos/drumming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* width: 100vw; */
    height: 140vh;
    opacity: 0.9;
    /* background: rgba(14,25,63,0.28); */
    display: flex;
    flex-direction: column;
    /* align-items: cent; */
    justify-content: space-between;
}

.contact_box3{
    border-bottom: 0px;
    box-shadow: 10px 10px 5px black;
    /* height: 60vh; */
    width: 100%;
    position: relative;
    border-top: solid  20px transparent;
    border-left: solid  20px transparent;
    border-right: solid  20px transparent;
    padding: 15px;
    border-image:url("../images/border2.png");
    border-image-width: 20px;
    border-image-slice: 50;
    background-color: rgb(117, 120, 160);
}
.cover_contact {
    /* margin-top: 10vh; */
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
;
}

.cover_contact h3 {
    font-weight: 900;
    font-size:  1.0em;
    color:#FFF;
    font-style: normal;

}

.outline2{
    margin-bottom: 0;
    padding-bottom: 0;
    border: solid white 2px;
}
.cover_contact p {
    font-weight: 400;
    font-size:  0.7375em;
    color:#FFF;
    font-style: normal;

}

.about_text2 {
    border-left:solid white 5px;
    padding-left: 5rem;
    /* position: relative;
    top: 120px; */
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 700;
    font-size: 41px;
}

.main2 {
display:flex;
flex-direction: column;
justify-content: center;
justify-content: center;
/* font-style: bold; */
position: relative;
height:20vh;
margin-bottom: 9vh;
}

.contact_container2 {
    margin-bottom: 0vh;
    /* margin-top: 5vh; */
}
